* {
    /* border: 1px solid lightgray; */
}

html {
	scroll-behavior: smooth;
	background-color: var(--page-bg);
}

body {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--text-color);
}

/* Utility */

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

.no-scroll {
    overflow: hidden;
}


/* Grid */
.container {
    max-width: 1840px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
