:root {
    --text-color: #fff;
    --text-inverse:  #2c2c2c;;
    --text-muted: #c0c0c0;

    --page-bg: #93cadf;
    --menu-bg: #42535aa6;
 
    --font-family: "Gilroy", sans-serif;
    --second-family: "Inter", sans-serif;
}
