.nav {
    min-width: 560px;
    padding: 10px;

    border-radius: 12px;

    /* -webkit-backdrop-filter: blur(6px); */
	/* backdrop-filter: blur(2px);  */
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    position: relative;
    padding-bottom: 10px;
    transition: all 0.3s ease-in;
}

/* .nav-item:hover {opacity: 0.8;} */

.nav-link-projects,
.nav-link-cooperation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-link-cooperation {
    gap: 23px;
}

.nav-link-projects::after,
.nav-link-cooperation::after {
    content: url('./../../img/ui/arrow-down.svg');
    width: 8px;
    padding-bottom: 3px;
}

/* Выпадающее меню шапки
 Делаем плавным. В скрытом виде курсор все равно активен при наведении, посему
 pointer-events: none; - Отменяет события по курсору*/
.nav-list-sub-nav {
    opacity: 0;
    width: 160px;
    pointer-events: none;
    position: absolute;
    left: -0%;
    top: calc( 100%);
    z-index: 5;

    transform: translate(0%, 20%);
    transition: all 0.3s ease-in;
}

.nav-item:hover .nav-list-sub-nav {
    pointer-events: all;
    opacity: 1;

    /* background-color: var(--menu-bg); */
    -webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px); 
    transform: translate(0%, 0%);
}

.projects-sub-nav {
    left: -50%;
}

.cooperation-sub-nav {
    left: -12%;
}

.nav-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    text-align: center;
    color: var(--text-color);
}

.mobile-nav-tools {
    position: absolute;
    top: 3%;
    right: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.mobile-close-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* backdrop-filter: blur(10px); */
    /* border: 1px solid #d3d3d3; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 940px) {
    .nav {display: none;}

    .nav-list {
        flex-direction: column;
        font-size: 22px;
        gap: 30px;
    }
}